.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.leftBoard {
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 3.5px;
  column-gap: 3.5px;
  width: 300px;
}

/* .leftBoard button {
  font-size: 15px;
  width: 50px;
  height: 50px;
  border: 1px solid;
  padding: 5px;
} */

.betsRow {
  display: flex;
}

.buttonUsed {
  background-color: green;
}

.buttonNotUsed {
  background-color: gray;
}
